@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
:root {
    --bg1: #151828;
    --bg2: #1B1F34;
    --body: #959DCC;
    --brand: #FFAB76;
    --white: #fff;
}

body{
    font-family: 'Dancing Script', cursive;
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1);
}

h2,h3,h4,h5,h6{
    font-family: 'Cedarville Cursive', cursive;
    color: white;
}

h1{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color: white;
}

img{
    width: 100%;
}

section{
    padding-top: 160px;
    padding-bottom: 160px;
}

::-webkit-scrollbar{
    background: transparent;
    width: 9px;
}

::-webkit-scrollbar-thumb{
    background: var(--body);
    border-radius: 15px;
}

::-webkit-scrollbar-corner{
    border-radius: 15px;
}

/*nav*/
.navbar{background: linear-gradient(to bottom,#1B1F34, rgba(27, 31, 52, 0.2));
}

.navbar .navbar-nav .nav-link.active{
    color: var(--brand);
}
.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
}

/* dropdown */

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg2);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgba(255,255,255,.55);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    color: var(--brand);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*.navbar ul ul{
    position: relative;
    top: 60px;
    display: none;
    background: var(--bg2);
    list-style: none;
    padding: 10px;
    border-radius: 5px;
}

.navbar ul li:hover > ul{
    display: block;
}

.navbar ul ul li{
    width: 100px;
    float: none;
    display: list-item;
    position: relative;
}

.navbar ul ul li a{
    text-decoration: none;
    color: rgba(255,255,255,.55);
}

.navbar ul ul li a:hover{
    color: var(--brand);
}*/

@media only screen and (max-width: 990px) {
    .navbar{
        background: var(--bg1);
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: relative;
        background-color: var(--bg2);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }


  }

/*hero*/
#hero{
    background: linear-gradient(to right,#1B1F34, rgba(27, 31, 52, 0.0)), url(../img/wallpaperflare.com_wallpaper_5.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

#hero1{
    background: linear-gradient(to right,#1B1F34, rgba(27, 31, 52, 0.0)), url(../img/wallpaperflare.com_wallpaper_6.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

#hero p{
    margin-top: 24px;
    margin-bottom: 24px;
}

#hero .content{
    margin-left: 50px;
}

#hero1 .content{
    margin-left: 50px;
}

/*BTN*/
.btn{
    padding: 16px 36px;
    font-family: 'Dancing Script', cursive;
    transition: all 0.4s ease;
    border-radius: 0;
}

.btn-brand{
    background-color: var(--brand);
}

.btn-brand:hover{
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}

.btn-outline-brand{
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}

.btn-outline-brand:hover{
    background-color: var(--brand);
}

/*about*/

#about{
    position: relative;

}

#about::after{
    content: "";
    width: 25%;
    height: 100%;
    background-color: var(--brand);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media only screen and (max-width: 990px) {
    #about{
        position: relative;
    
    }
    
    #about::after{
        content: "";
        width: 25%;
        height: 100%;
        background-color: var(--bg1);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    #about h6{
        color: var(--brand);
        margin-top: 20px;
    }
  }

#about h6{
    color: var(--brand);
}



#about h1{
    margin-top: 16px;
    margin-bottom: 24px;
}

#about p{
    text-align: justify;
  text-justify: inter-word;
  
}

#about .signature{
    width: unset;
}



/*services*/

.intro{
    margin-bottom: 60px;
}
.intro h1{
    margin-top: 16px;
    margin-bottom: 16px;

}

.intro h6{
    color: var(--brand);
}

.intro p{
    max-width: 500px;
    margin: auto;
}

#services{
    background: var(--bg2);
}

#services .service .content{
    padding: 32px;
}

#services .service p{
    margin-top: 18px;
    margin-bottom: 18px;
}

/*milestobe*/
#milestone{
    background: linear-gradient(to right, rgba(27, 31, 52, 0.8), rgba(27, 31, 52, 0.8)), url(../img/wallpaperflare.com_wallpaper_2.jpg);
    background-size: cover;
    background-position: center;
}

#milestone h1{
    color: var(--brand);
}

/*review*/

#reviews{
    background: var(--bg1);
}

.review{
    padding: 32px;
    background-color: var(--bg2);
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}

.review p,h5,small{
    margin-left: 50px;
    margin-right: 50px;
}

.review .icon{
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brand);
    color: var(--bg1);
    border-radius: 100px;
    position: absolute;
    right: 25px;
}

.review img{
    width: 60px;
    border-radius: 100px;
}

/*booking*/

#booking{
    background: linear-gradient(to right, rgba(27, 31, 52, 0.8), rgba(27, 31, 52, 0.8)), url(../img/wallpaperflare.com_wallpaper_1.jpg);
    background-size: cover;
    background-position: center;
}

/*#booking form{
    background-color: var(--bg1);
    padding: 32px;
}

#booking form .form-control{
    background-color: var(--bg2);
    border-radius: 0;
    margin-top: 12px;
    border-color: var(--bg2);
    border: 2px solid var(--bg2);
    color: var(--body);
}

#booking form input{
    height: 50px;
}

#booking form .form-control:focus{
    box-shadow: none;
    border-left-color: var(--brand);
}*/
#booking #form{
    background-color: var(--bg1);
    padding: 32px;
}

#booking #form .form-control{
    background-color: var(--bg2);
    border-radius: 0;
    margin-top: 12px;
    border-color: var(--bg2);
    border: 2px solid var(--bg2);
    color: var(--body);
}

#booking #form input{
    height: 50px;
}

#booking #form .form-control:focus{
    box-shadow: none;
    border-left-color: var(--brand);
}


/*Price*/

#price{
    background: var(--bg2);
}

#price .intro h3{
    color: var(--brand);
}

#price table{
    color: var(--body);
    
}

#price table tbody tr{
    color: var(--body);
    
}

#price table tbody tr:hover td{
    color: var(--brand);
    
}

/*footer*/

footer{
    padding-top: 160px;
    background: var(--bg2);
}

footer h3,h4{
    font-family: 'Great Vibes', cursive;
    color: white;
}

.footer-top .content{
    text-align: justify;
  text-justify: inter-word;
  
}

.footer-top{
    padding-bottom: 30px;
}
.footer-bottom{
    background: var(--bg1);
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid var(--bg1);
}

.footer-bottom p a{
    color: var(--body);
}

.footer-bottom p a img{
    width: 30px;
}

.social-media{
    padding-top: 5px;
}
.social-media img{
    width: 50px;
    transition: 0.5s;
    margin-right: 10px;
}
.social-media a:hover img{
    transform: translateY(-5px);
}

/*Whatsapp*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: var(--bg1);
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid var(--body);
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
 .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    text-decoration: none;
    right: 35px;
    bottom: 35px;
    z-index: 996;
    background-color: var(--body);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: var(--brand);
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  } 
